.navBar {
    background-color: #023E8A;
}

#logoImage {
    height: 150px;
    width: 150px;
}

.navBarLink {
    float: right;
    font-size: 25px;
    margin-top: 40px;
    padding: 14px 16px;
}

.navBarLink > a {
    color: #CAF0F8;
    text-decoration: none;
    margin-right: 15px;
}

.navBarLink > input {
    width: 200px;
    height: 20px;
    background-color: #CAF0F8;
    border-radius: 20px;
}

#searchButton, #resetButton {
    border-style: solid;
    border-radius: 20px;
    background-color: #CAF0F8;
    height: 20px;
    width: 80px;
}